.stage.au-enter {
  opacity: 0!important;
}

.stage.au-enter-active{
  animation: fadeIn .3s;
}

.stage.au-leave{
  animatin: fadeOut .3s;
}

@keyframes fadeIn{
  0% { opacity: 0; transform: translate3d(100%, 0, 0) }
  100% { opacity: 1; }
}

@keyframes fadeOut{
  0% { opacity: 1; }
  100% { opacity: 0; }
}

.page-host {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}
