body {
  margin: 0;
  background-image: url('../images/lendidoelayout.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #fff;
}

.splash {
  text-align: center;
  margin: 0;
  height: 100%;
  width: 100%;
}

.splash-logo{
  width: 50vmin;
  position: relative;
  top: 50%;
  transform: translateY(50%);
}
