
.register.stage{
  padding-top: 55px;
}

.register-nav-bar{
  background-color: #fff;
  color: gray;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 15vmin;
}

.register-nav-bar > div{
  height: 100%;
}

.register-nav-bar .header{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 5.5rem;
}

.register-header-cancel, .register-header-next{
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 5.5rem;
  color: gray;
}

.register-form{
  margin-top: 12px;
}
